<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

		<div class="container">
				
			<div class="nav">
				<a href="/dashboard">Dashboard</a>
				<a href="/addpatient">Add Patient</a>
				<a href="/viewpatient">View Patient</a>
				<a href="/adddiagnosis">Add Diagnosis</a>
				<a href="/logout">Click to Logout</a>
			</div>

			<div class="content">

