<%- include('partials/header') %>
		<h2 class="heading-view-diagnosis">Diagnosis</h2>

		<h3>Diagnosis Details Page</h3>
		<div class="table-view-diagnosis">
		<table border="1">
			<tr>
				<th>Date</th><th>Complaint</th><th>Recommendation</th>
			</tr>

			<% result.forEach(function(results) { %>
				<td> <%= results.date %> </td>
				<td> <%= results.complaint %> </td>
				<td> <%= results.recommendation %> </td>
				</tr>
			<% }) %>

		</table>
	</div>
	</div>

	