<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body class="contain">

	<div class="cont"> 
		<h1>Welcome</h1>
		<p>Create an Account or Login</p>
		<button><a href="/register">Register</a></button>
		<button><a href="/login">Login</a></button>
	</div>

</body>
</html>